.seat-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.seat-row {
  display: flex;
  margin: 10px 0;
}

.seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.seat.available {
  background-color: #6db65b;
  color: white;
}

.seat.unavailable {
  background-color: #f44336;
  color: white;
  cursor: not-allowed;
}

.reservation-form {
  margin-top: 20px;
  border: 1px solid #111311;
padding: 10px;
border-radius: 5px;
background-color: #f5f5f5;
}

.reservation-form label {
display: block;
margin-bottom: 5px;
font-weight: bold;
}

.reservation-form input {
margin-bottom: 10px;
padding: 5px;
border-radius: 5px;
border: none;
box-shadow: inset 0 0 2px #ccc;
}

.reservation-form button {
padding: 5px 10px;
background-color: #6db65b;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.2s ease-in-out;
}

.reservation-form button:hover {
background-color: #5ba347;
}